.App {
  text-align: center;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  width: 56px;
  margin: 3px;
}

.enter {
  width: 250px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.results {
  margin: 30px 100px 5px 100px;
}
